{%extends 'base.html'%}
{%load bootstrap4 %}
{%block content %}

<div class="container">
    <div class="span3 well">
        <br>
        <br>
        <br>
        {%for p in profile %}
        <center>
        <img src="{{p.profile_photo.url}}" name="aboutme" width="140" height="140" class="img-circle"></<img>
        <h3>{{p.user.username}}</h3>
        <h4>{{p.phone_number}}</h4>
        <em>{{p.bio}}</em>
        </center>
        {%endfor%}
        <hr>
    </div>
    {%for project in projects%}
    <div class="row">
        <div class="card mt-4" style="width: 30rem; margin-right: auto;">
            <img class="card-img-top" src="{{project.project_screenshot.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{project.project_title}}</h5>
              <p class="card-text">{{project.project_description}}</p>
              <p class="card-text">Posted by:{{project.profile.user.username}}</p>
          </div>  
      </div>
    </div>
    {%endfor%}
</div>

{%endblock%}